.form-group{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    /* border: 3px solid var(--dark-petrol); */
    background-color: var(--blush);
    font-size: 1.2rem;
}

/* .form-group input{
    max-width: 100%;
    display: block;
} */

.form-row{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* margin-bottom: 1.6rem; */
}

.button-row{
    margin: 2rem 0 7rem 0;
    display: flex;
    justify-content: center;
}

.input-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5rem;
    width: 100%;
}

.input-area label{
    padding: 4.rem;
    display: block;
}

.input-area input{
    padding: .4rem;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}



#photo-upload{
    margin-top: 1rem;
}

#age{
    width: 3rem;
}

input[type=file]{
    background-color: var(--pink-rose);
    color: white;
    font-size: 1.3rem;
    padding: .4rem;
}

.valid{
    background-color: palegreen;
}

.invalid{
    color: var(--boxing-red);
}



.new-hamster-btn{
    background-color: var(--dark-petrol);
    color: white;
    padding: .4rem 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    border: 0;
    border-radius: .4rem;
}

.new-hamster-btn:hover{
    cursor: pointer;
}

form{
    max-width: 80%;
}

@media screen and (min-width: 600px){

    .button-row{
        margin: 2rem 0 3rem 0;
        display: flex;
        justify-content: center;
    }

    .input-area{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .input-area input{
        justify-self: end;
        margin: 0 .6rem;
        padding: .4rem;
        max-width: 100%;
        box-sizing: border-box;
        display: block;
    }

    .input-area label{
        padding: 4.rem;
        display: inline;
    }

}
