.slide-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}


.slide-img{
    width: 70vw;
    border-radius: 1rem 1rem 0 0;

}

.gallery-info{
    width: 70vw;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--blush);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts{
    padding: 1rem;
    font-size: initial;
    max-width: 100%;
}

.gallery-info ul{
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.gallery-info ul li{
    padding: 0;
    margin: 0;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-container button{
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 740px){

    .slide-img{
        width: 600px;
        border-radius: 1rem 1rem 0 0;
        transition: 0.45;
    }

    .gallery-info{
        width: 600px;
        border-radius: 0 0 1rem 1rem;
        background-color: var(--blush);
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }

    .gallery-info ul{
        flex: 1;
    }

    .facts{
        padding: 1rem;
        flex: 2;
        font-size: 1.2rem;
    }

    .btn-container button:hover{
        cursor: pointer;
    }
    
    .btn-container button:active{
        outline: none;
    }
}
