
.hamsterwars-main-container{
  background-color: var(--pink-rose);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  width: 90%;
  background-color: white;
}

/* 
@media screen and (min-width: 600px) {
  

  .logo-container{
    width: 60%;
    padding: 1rem 0;
    display: inline-block;
  }
} */


