:root{
  --dark-petrol: #2A4759;
  --summer-blue: #658CBF;
  --golden-crest: #F2AF5C;
  --blush: #F2D5CE;
  --pink-rose: #D98F8F;
  --boxing-red: #E40D0D;
}


body {
  margin: 0 auto;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  color: var(--dark-petrol);
}

@media screen and (min-width: 600px){

    h1{
      margin-top: 4rem;
      font-size: 3rem;
    }
}




