:root{
  --dark-petrol: #2A4759;
  --summer-blue: #658CBF;
  --golden-crest: #F2AF5C;
  --blush: #F2D5CE;
  --pink-rose: #D98F8F;
  --boxing-red: #E40D0D;
}


body {
  margin: 0 auto;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  color: var(--dark-petrol);
}

.bt-regular{
    background-color: var(--dark-petrol);
    padding: .6rem 1.4rem;
    font-size: 1.2rem;
    margin: .7rem;
    font-family: 'Quicksand';
    color: white;
    font-weight: 700;
    border-radius: .6rem;
    transition: transform 0.5s linear, 
                background-color 1s ease;
}





@media screen and (min-width: 600px){

    h1{
      margin: 4rem 2rem 2rem 2rem;
      font-size: 3rem;
      text-align: center;
    }

    .bt-regular:hover{
      cursor: pointer;
      transform: scale(1.1, 1.1);
      background-color: var(--summer-blue);
  }

  
}




