:root{
  --dark-petrol: #2A4759;
  --summer-blue: #658CBF;
  --golden-crest: #F2AF5C;
  --blush: #F2D5CE;
  --pink-rose: #D98F8F;
  --boxing-red: #E40D0D;
}


body {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}


